

.product-grid{
    padding: 0px 20px 0px 20px;
    margin-top: 7%; 
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(3,auto);
}

.product-card{
    border: 1px solid white;
    width: 100%;
    height: 200px;
}